<div class="row">
    <div class="col-xs-12">
        <img [src]="receta.pathImagen" alt="{{receta.nombre}}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{receta.nombre}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{receta.descripcion}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropDown>
            <button class="btn btn-primary dropdown-toggle" type="button">Administrar receta <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click)="onAnadirListaCompras()">Añadir a lista de compra</a></li>
                <li><a href="#">Editar receta</a></li>
                <li><a href="#">Eliminar receta</a></li>
            </ul>
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let i of receta.ingredientes">
                {{i.name}} -- {{i.amount}}
            </li>
        </ul>
    </div>
</div>