<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="nombre">Nombre </label>
                    <input type="text" id="nombre" class="form-control" #inputNombre>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" id="cantidad" class="form-control" #inputCantidad>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" (click)="onAgregarItem()">Agregar</button>
                    <button class="btn btn-danger" type="button">Borrar</button>
                    <button class="btn btn-primary" type="button">Limpiar</button>
                </div>
            </div>
        </form>
    </div>
</div>